body{
    min-height: 900px;
}
*{
    font-family: comic sans ms, arial, sans-serif;
}
.navbar-brand{
    font-weight: bold;
}
.nav-item{
    font-weight: 500;
}
.aboutme{
    margin-top: 25px;
    padding-top: 3rem;
}
.aboutme .title{
    text-align: center;
    font-weight: bold;
}
.aboutme .paragraph{
    text-align: justify;
    width: 85%;
    margin: 2rem auto 5rem;
}
.kata-kata{
    font-weight: bold;
}
.jumbotron{
    margin-top: 10rem;
}
.f-a{
    width: 50%;
}